<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Personal</title>
</head>
<body>
    <div id="principal">
        <img src="foto.jpg" id="imagen" height="200" width="200" align="center"> 
        <br><br>
        <h1>Edgar Isaias Guerrero Rivera</h1>
        <h2>Edad: 23 años</h2>
        <h2>Estudiante de Ingenieria en Sistemas Computacionales </h2>

        <br><br><br><br>

        <fieldset>
            <legend>Datos Generales</legend>
            <ul>
                <li>
                    Dirección: Sauz de la Floresta #215
                </li>
                <li>
                    Numero de telefono: 477-133-0757
                </li>
                <li>
                    Genero: Masculino
                </li>
                <li>
                    Email: eigr9922@gmail.com
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Trabajos Anteriores</legend>
            <ul>
                <li>
                    Ayudante de Mesero
                </li>
                <li>
                    Auxuliar de Almacen
               </li>
               <li>
                    Pintor Automotriz
               </li>
            </ul>
        </fieldset>
    </div>
</body>         
</html>